<template>
  <div><EventDetail :eventDetail="eventDetail" /></div>
</template>

<script>
export default {
  data() {
    return {
      event_id: '',
      eventDetail: '',
    }
  },
  //event data
  created() {
    this.event_id = this.$route.params.id
    this.$axios.get(`/event/get/${this.event_id}`).then((res) => {
      this.eventDetail = res.data.data
    })
  },
}
</script>