<template>
  <div>
    <v-card flat>
      <v-card-text class="text-justify">
        <p>
          Sed aliquam ultrices mauris. Donec posuere vulputate arcu. Morbi ac
          felis. Etiam feugiat lorem non metus. Sed a libero. Nam ipsum risus,
          rutrum vitae, vestibulum eu, molestie vel, lacus. Aenean tellus metus,
          bibendum sed, posuere ac, mattis non, nunc. Aliquam lobortis. Aliquam
          lobortis. Suspendisse non nisl sit amet velit hendrerit rutrum.
          Phasellus dolor. Fusce neque. Fusce fermentum odio nec arcu.
          Pellentesque libero tortor, tincidunt et, tincidunt eget, semper nec,
          quam. Phasellus blandit leo ut odio.
        </p>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {}
</script>


