<template>
  <div class="class-name text-justify">
    <h3 class=" primary--text d-flex justify-center">Privacy Policy</h3>
    <br>
    <h4>What personal data we collect and why we collect it?</h4>
    <br>
    <h5>Cookies:</h5>
    <div>
      If you leave a comment on our site you may opt-in to saving your name,
      email address and website in cookies. These are for your convenience so
      that you do not have to fill in your details again when you leave another
      comment. These cookies will last for one year.
    </div>
    <br>
    <div>
      If you have an account and you log in to this site, we will set a
      temporary cookie to determine if your browser accepts cookies. This cookie
      contains no personal data and is discarded when you close your browser.
    </div>
    <br>
    <div>
      When you log in, we will also set up several cookies to save your login
      information and your screen display choices. Login cookies last for two
      days, and screen options cookies last for a year. If you select “Remember
      Me”, your login will persist for two weeks. If you log out of your
      account, the login cookies will be removed.
    </div>
    <br>
    <div>
      If you edit or publish an article, an additional cookie will be saved in
      your browser. This cookie includes no personal data and simply indicates
      the post ID of the article you just edited. It expires after 1 day.
    </div>
    <br>
    <h5>Comments:</h5>
    <div>
      When visitors leave comments on the site we collect the data shown in the
      comments form, and also the visitor’s IP address and browser user agent
      string to help spam detection.
    </div>
    <br>
    <div>
      An anonymized string created from your email address (also called a hash)
      may be provided to the Gravatar service to see if you are using it. The
      Gravatar service privacy policy is available here:
      https://automattic.com/privacy/. After approval of your comment, your
      profile picture is visible to the public in the context of your comment.
    </div>
    <br>
    <h4>Who we share your data with & How long we retain your data?</h4>
    <div>
      If you leave a comment, the comment and its metadata are retained
      indefinitely. This is so we can recognize and approve any follow-up
      comments automatically instead of holding them in a moderation queue.
    </div>
    <br>
    <div>
      For users that register on our website (if any), we also store the
      personal information they provide in their user profile. All users can
      see, edit, or delete their personal information at any time (except they
      cannot change their username). Website administrators can also see and
      edit that information.
    </div>
    <br>
    <h4>What rights you have over your data?</h4>
    <div>
      If you have an account on this site or have left comments, you can request
      to receive an exported file of the personal data we hold about you,
      including any data you have provided to us. You can also request that we
      erase any personal data we hold about you. This does not include any data
      we are obliged to keep for administrative, legal, or security purposes.
    </div>
  </div>
</template>