<template>
  <div class="my-10">
    <div>
      <v-sheet
        plain
        style="color: rgba(64, 179, 162, 0.7); background-color: #fafafa"
        class="mb-1 pl-0"
        ><h2>Top Popular places</h2>
      </v-sheet>
      <h4 class="mb-3" style="color: rgba(0, 0, 0, 0.3)">
        Most review and comment places.
      </h4>
    </div>
    <swiper class="swiper justify-center" :options="swiperOption">
      <swiper-slide
        v-for="place in places"
        :key="place._id"
        class="swiper-slide align-center"
      >
        <rating-card :place="place"></rating-card>
      </swiper-slide>
    </swiper>
  </div>
</template>

<script>
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/css/swiper.css'
export default {
  components: {
    Swiper,
    SwiperSlide,
  },

  props: ['places'],

  data() {
    return {
      swiperOption: {
        slidesPerView: 2.5,
        spaceBetween: 10,
        mousewheel: {
          releaseOnEdges: true,
        },
        breakpoints: {
          1904: {
            slidesPerView: 6,
            spaceBetween: 10,
          },
          1024: {
            slidesPerView: 5,
            spaceBetween: 10,
          },
          768: {
            slidesPerView: 4.5,
            spaceBetween: 10,
          },
          640: {
            slidesPerView: 3.5,
            spaceBetween: 10,
          },
          320: {
            slidesPerView: 2.5,
            spaceBetween: 10,
          },
        },
      },
    }
  },
}
</script>

<style scoped>
.swiper-button-next {
  color: rgba(64, 179, 162);
}
.swiper-button-prev {
  color: rgba(64, 179, 162);
}
</style>
