<template>
  <div class="class-name text-justify">
    <h3  class=" primary--text d-flex justify-center">Terms & Conditions</h3>
    <br>
    <div>
      Please read the following terms and conditions carefully. You must not
      make any booking unless you are 18 years of age or older and understand
      and agree with the following terms and conditions.
    </div>
    <br>
    <div>
      These terms and conditions apply to bookings you make with a Consultant
      (instore, over the phone or by email) as well as online bookings made via
      our website. These terms and conditions govern our relationship with you.
      Once we accept a booking from you on behalf of a Supplier, you will also
      have a separate contract with the Supplier, which will be governed by
      other terms and conditions. It is your responsibility to make yourself
      aware of those other terms and conditions.
    </div>
    <br>
    <h4>EXECUTIVE SUMMARY</h4>

    <div>
      <div>
        Although you should read all of the terms and conditions, the following
        is a summary of the most important:
      </div>
      <ul>
      <li>
        Prices, including, in some cases, of confirmed bookings, may be subject
        to change.
      </li>
      <li>
        Some confirmed bookings are non-refundable if cancelled by you and it is
        your responsibility to check if this applies.
      </li>
      <li>
        We will be entitled to retain our service fees even if a booking is
        cancelled or does not proceed for any reason which is not our fault.
      </li>
      <li>
        It is your responsibility to make yourself aware of all information
        relevant to your travel plans, including but not limited to visa
        requirements and health precautions.
      </li>
      <li>
        We are not your agent and may receive additional fees or other
        incentives from Suppliers.
      </li>
      <li>
        We are not liable for the accuracy of any published Supplier content
        including websites and brochures.
      </li>
      </ul>
    </div>
    <br>
    <h5>PRICES AND TAXES</h5>

    <div>
      All prices that we quote are in Australian Dollars and based on twin share
      accommodation unless otherwise stated. Please note that prices quoted are
      subject to change at the discretion of the Supplier prior to booking.
      Price changes may occur after booking because of matters outside our
      control which increase the cost of the Product. Such factors include
      adverse currency fluctuations, fuel surcharges, taxes and airfare
      increases. Please contact your Consultant for up-to-date prices. Even if
      paid in full, a price may change because of matters outside our control.
    </div>
    <br>
    <div>
      Prices include all applicable taxes requiring payment prior to departure,
      and may be subject to adjustment in the event of an increase in those
      taxes. On other occasions, you may be liable for taxes in addition to the
      quoted price of the Product. For example, there may be a local tax charged
      at some airports or resorts.
    </div>
  </div>
</template>
<script>
export default {}
</script>