<template>
  <div>
    <div class="d-flex justify-center align-center flex-column mb-5 mt-4">
      <h2>Frequently Asked Questions</h2>
    </div>
    <v-card class="pa-5 mb-10" elevation="0" tile color="#fafafa">
      <Faq />
    </v-card>
  </div>
</template>

<script>
export default {}
</script>