<template>
  <BaseLayout>
    <Describe :placeDetail="placeDetail" />
    <DetailSlide :images="placeDetail.images" />
    <MapComponent v-if="placeDetail" :placeDetail="placeDetail" />
    <Comment style="z-index: 1000" :placeId="id" />
  </BaseLayout>
</template>

<script>
export default {
  data() {
    return {
      placeDetail: '',
      id: '',
    }
  },
  watch: {
    '$route.params': {
      handler(params) {
        this.id = params.id
        this.$axios.get('/place/' + this.id).then((res) => {
          console.log('love', res)
          this.placeDetail = res.data.data
        })
      },
      immediate: true,
      deep: true,
    },
  },
}
</script>